{
  "presets": [
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true,
          "esmodules": true
        },
        "useBuiltIns": true
      }, 
      "es2015",
      "@babel/preset-react",
      "@babel/preset-env"
    ]
  ],

  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ]
}
